<h1 class="text-center">Search for flights</h1>

<div class="center-div">
    <%= form_tag '/flights', method: "GET" do %>
        <div class="search-fields-container">
            <div class="col-md-3 search-field">
                <%= label_tag :search_by_origin, "Origin: ", :class => "form-label" %>
                <%= text_field_tag :search_by_origin, params[:search_by_origin], :required => true, :class => "form-control", :placeholder => 'SYD' %>
            </div>

            <div class="col-md-3 search-field">
                <%= label_tag :search_by_destination, "Destination: ", :class => "form-label" %>
                <%= text_field_tag :search_by_destination, params[:search_by_destination], :required => true, :class => "form-control", :placeholder => 'BNE' %>
            </div>

            <div class="col-md-3 search-field">
                <%= label_tag :search_by_date, "Departure Date: ", :class => "form-label" %>
                <%= date_field_tag :search_by_date, params[:search_by_date], :required => true, :class => "form-control" %>
            </div>
        </div>

            <%= submit_tag "Search", :class => "search-button btn btn-primary" %>
    <% end %>
</div>

<div class="row">
    <% @flights.each do |flight| %>
        <div class="col-lg-4">
            <div class="card">
                <%= image_tag flight.airline.logo, :class => 'thumbnail card-img-top' %>
                <div class="card-body">
                    <p class="card-title"><%= flight.airline.code %><%= flight.flight_number %> (<%= flight.airline.name %>)</p>
                    <p class="card-text">From: <%= flight.origin %></p>
                    <p class="card-text">Departure: <%= flight.departure.strftime "%a, %d %b %Y at %H:%M" %></p>
                    <p class="card-text">To: <%= flight.destination %></p>
                    <p class="card-text">Arrival: <%= flight.arrival.strftime "%a, %d %b %Y at %H:%M" %></p>
                    <% if flight.tickets.where(user_id: nil).any? %>
                        <p class="card-text"><%= pluralize flight.tickets.where(user_id: nil).count, 'seat' %> remaining from <%= number_to_currency flight.tickets.where(user_id: nil).order(:price).first.price %></p>
                        <%= link_to 'Book Now!', flight_path(flight.id), :class => 'btn btn-primary search-button card-button' %>
                    <% else %>
                        <p>No seats remaining.</p>
                        <a href="#" class="btn btn-primary search-button sold-out">Sold Out!</a>
                    <% end %>
                    <% if @current_user.present? && @current_user.admin? %>
                        <%= link_to 'Add Tickets', new_airline_flight_ticket_path(flight.airline.id, flight.id), :class => 'btn btn-primary card-button' %>
                        <%= link_to 'Delete Flight', flight, :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-primary search-button card-button red-button' %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>

<% unless @flights.present? %>
    <p>No direct flights found.</p>
    <% @viable_routes.each do |r| %>
        <p>Try: <%= r.join(' -> ') %></p>
    <% end %>
<% end %>