<div class="half-container">
    <h1 class="text-center">Register</h1>

    <% if @user.errors.any? %>
        <ul class="error-msg">
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for @user do |f| %>
        <%= f.label :email, :class => "form-label" %>
        <%= f.email_field :email, :class => "form-control" %>

        <%= f.label :password, :class => "form-label" %>
        <%= f.password_field :password, :class => "form-control" %>

        <%= f.label :password_confirmation, :class => "form-label" %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>

        <%= f.submit "Join!", :class => "search-button btn btn-primary" %>
    <% end %>
</div>