<h1>Welcome <%= @current_user.first_name.present? ? "#{ @current_user.first_name } #{ @current_user.last_name }" : @current_user.email %></h1>
<h2>Your bookings:</h2>

<% if @tickets.any? %>
    <% @tickets.each do |ticket| %>
        <h4><%= ticket.flight.airline.code %><%= ticket.flight.flight_number %></h4>
        <%= image_tag ticket.flight.airline.logo, :class => 'thumbnail' %>
        <p>From <%= ticket.flight.origin %> to <%= ticket.flight.destination %></p>
        <p>Departure: <%= ticket.flight.departure %>, arrival: <%= ticket.flight.arrival%></p>
        <p>Travelling class: <%= ticket.class_type %></p>
        <p>Fare paid: <%= number_to_currency ticket.price %></p>
        <%= link_to "Cancel Booking", cancel_path(ticket.id) %>
        <p>----------</p>
    <% end %>
    <p>End of record.</p>
<% else %>
    <p>You don't have any bookings. <%= link_to 'Book now!', flights_path %></p>
<% end %>