<h1 class="text-center">Cancellation</h1>

<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="card">
            <%= image_tag(@ticket.flight.airline.logo, :class => "thumbnail card-img-top", :alt => "Logo of #{@ticket.flight.airline.name}") %>
            <div class="card-body">
                <h1 class="card-title text-center"><%= @ticket.flight.airline.code %><%= @ticket.flight.flight_number %> from <%= @ticket.flight.origin %> to <%= @ticket.flight.destination %></h1>
                <h4 class="card-text text-center">Departure: <%= @ticket.flight.departure.strftime "%a, %d %b %Y at %H:%M" %></h4>
                <h4 class="card-text text-center">Arrival: <%= @ticket.flight.arrival.strftime "%a, %d %b %Y at %H:%M" %></h4>
            </div>
            <div class="card-body">
                <p class="card-title text-center">Fare paid: <%= number_to_currency @ticket.price %></p>
                <p class="card-title text-center">Travelling class: <%= @ticket.class_type %></p>
            </div>
            <div class="card-body">
                <p class="card-text">Warning: You might not be able to rebook the same flight once cancelled. Please review information carefully.</p>
                <%= link_to "Confirm Cancellation", unlink_path(@ticket.id), :method => 'post', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-primary search-button card-button red-button' %>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>